html {
  font-size: 14px;
  background-color: #f0eeee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: #111111;
  font-weight: 500;
}
a:hover {
  color: #fe3419;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

.header-top {
  border-bottom: 1px solid rgba(222, 222, 222, 0.6705882353);
}
.header-top i {
  color: #fe3419;
}
.header-top-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}
.header-top-container span {
  margin-right: 1rem;
}
.header-top-container span:last-of-type {
  margin-right: 0;
}
.header-top-container i {
  margin-right: 0.3rem;
}
.header .main-header-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
}
.header .main-header a, .header .main-header i {
  color: #111111;
}
.header .main-header span {
  color: #fe3419;
}
.header .main-header #brand {
  font-weight: 900;
  font-size: 3rem;
}
.header .main-header #brand span {
  font-weight: 900;
  font-size: 3rem;
}
.header .main-header #brand i {
  font-size: 2.8rem;
}
.header .main-header #search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.header .main-header #search-form input {
  height: 40px;
}
.header .main-header #search-form input::-webkit-input-placeholder {
  color: rgba(230, 83, 100, 0.2274509804);
}
.header .main-header #search-form #search {
  width: 60%;
  padding: 1rem;
  caret-color: #fe3419;
}
.header .main-header .header-actions-menu {
  display: flex;
  align-items: center;
}
.header .main-header .header-actions-menu .wishlist-container, .header .main-header .header-actions-menu .header-cart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 2.5rem;
}
.header .main-header .header-actions-menu .wishlist-container .qty, .header .main-header .header-actions-menu .header-cart-container .qty {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: 1px;
  background-color: #fe3419;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #f0eeee;
}
.header .main-header .header-actions-menu .wishlist-container i, .header .main-header .header-actions-menu .header-cart-container i {
  margin-bottom: 0.3rem;
}
.header .main-header .header-actions-menu .wishlist-container a:hover, .header .main-header .header-actions-menu .header-cart-container a:hover {
  color: #fe3419;
}

.header-bottom {
  border-bottom: 2px solid rgba(222, 222, 222, 0.6705882353);
  background-color: #fe3419;
}
.header-bottom nav {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
}
.header-bottom ul {
  padding: 1.3rem 0;
}
.header-bottom ul li a {
  border-bottom: 2px solid transparent;
  transition: 1s;
  color: #f0eeee;
}
.header-bottom ul li a:hover {
  color: #f0eeee;
  border-color: #f0eeee;
}

.banners {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
}
.banners .banner {
  background-color: rgba(222, 222, 222, 0.6705882353);
  padding: 2rem;
  -webkit-transform: skew(-20deg);
  margin-right: 1.5rem;
}
.banners .banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banners .banner-content h2, .banners .banner-content i {
  -webkit-transform: skew(20deg);
}
.banners .banner-content i {
  color: #fe3419;
  margin-right: 1.5rem;
  font-size: 1.8rem;
}
.banners .banner-content h2 {
  font-weight: 400;
  font-size: 1.2rem;
}

.banner-main {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../../img/banner-main.png");
  background-repeat: no-repeat;
}
.banner-main-content {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  color: #f0eeee;
}
.banner-main-content h1 {
  font-size: 5.2rem;
  line-height: 6rem;
  text-transform: capitalize;
  font-weight: 600;
}
.banner-main-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.banner-main-content strong {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 300;
}
.banner-main-content strong span {
  font-size: 5.5rem;
  color: #fe3419;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2588235294);
}
.banner-main-content input {
  margin-top: 3rem;
  width: 30%;
  padding: 1rem;
  text-transform: capitalize;
  font-weight: bold;
}
.banner-main-image {
  margin-top: 8rem;
}

.btn {
  background-color: #fe3419;
  border: 1px solid #fe3419;
  width: 20%;
  color: #f0eeee;
  position: relative;
  transition: 1s;
}
.btn:hover {
  cursor: pointer;
  color: #fe3419;
  background-color: #f0eeee;
}

/*# sourceMappingURL=styles.css.map */
