body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #666666;
}

body::-webkit-scrollbar-thumb {
  background-color: #fe3419;
  border-radius: 50px;
}

html {
  font-size: 14px;
  background-color: #f0eeee;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: #111111;
  font-weight: 500;
}
a:hover {
  color: #fe3419;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

.header-top {
  border-bottom: 1px solid rgba(222, 222, 222, 0.5568627451);
}
.header-top i {
  color: #fe3419;
}
.header-top-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
  padding: 0.8rem 0;
  margin-top: 0;
}
.header-top-container span {
  margin-right: 1rem;
}
.header-top-container span:last-of-type {
  margin-right: 0;
}
.header-top-container i {
  margin-right: 0.3rem;
}
.header .main-header-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
  padding: 1.3rem 0;
  margin-top: 0;
}
.header .main-header a, .header .main-header i {
  color: #111111;
}
.header .main-header span {
  color: #fe3419;
}
.header .main-header #brand {
  font-weight: 900;
  font-size: 3rem;
}
.header .main-header #brand span {
  font-weight: 900;
  font-size: 3rem;
}
.header .main-header #brand i {
  font-size: 2.8rem;
}
.header .main-header #search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.header .main-header #search-form input {
  height: 40px;
}
.header .main-header #search-form input::-webkit-input-placeholder {
  color: rgba(230, 83, 100, 0.5450980392);
}
.header .main-header #search-form #search {
  width: 60%;
  padding: 1rem;
  caret-color: #fe3419;
}
.header .main-header .header-actions-menu {
  display: flex;
  align-items: center;
}
.header .main-header .header-actions-menu .wishlist-container, .header .main-header .header-actions-menu .header-cart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 2.5rem;
}
.header .main-header .header-actions-menu .wishlist-container .qty, .header .main-header .header-actions-menu .header-cart-container .qty {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: 1px;
  background-color: #fe3419;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #f0eeee;
}
.header .main-header .header-actions-menu .wishlist-container i, .header .main-header .header-actions-menu .header-cart-container i {
  margin-bottom: 0.3rem;
}
.header .main-header .header-actions-menu .wishlist-container a:hover, .header .main-header .header-actions-menu .header-cart-container a:hover {
  color: #fe3419;
}

.header-bottom {
  border-bottom: 2px solid rgba(222, 222, 222, 0.5568627451);
  background-color: #fe3419;
}
.header-bottom nav {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
  justify-content: space-between;
  margin-top: 0;
}
.header-bottom ul {
  padding: 1.3rem 0;
}
.header-bottom ul li a {
  border-bottom: 2px solid transparent;
  transition: 1s;
  color: #f0eeee;
}
.header-bottom ul li a:hover {
  color: #f0eeee;
  border-color: #f0eeee;
}

.banners {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
  margin-top: 7rem;
}
.banners .banner {
  background-color: rgba(222, 222, 222, 0.5568627451);
  padding: 2rem;
  -webkit-transform: skew(-20deg);
  margin-right: 1.5rem;
}
.banners .banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banners .banner-content h2, .banners .banner-content i {
  -webkit-transform: skew(20deg);
}
.banners .banner-content i {
  color: #fe3419;
  margin-right: 1.5rem;
  font-size: 1.8rem;
}
.banners .banner-content h2 {
  font-weight: 400;
  font-size: 1.2rem;
}

.banner-main {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../../img/banner-main.png");
  background-repeat: no-repeat;
}
.banner-main-content {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  color: #f0eeee;
}
.banner-main-content h1 {
  font-size: 5.2rem;
  line-height: 6rem;
  text-transform: capitalize;
  font-weight: 600;
}
.banner-main-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.banner-main-content strong {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 300;
}
.banner-main-content strong span {
  font-size: 5.5rem;
  color: #fe3419;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2588235294);
}
.banner-main-content input {
  margin-top: 3rem;
  width: 30%;
  padding: 1rem;
  text-transform: capitalize;
  font-weight: bold;
}
.banner-main-image {
  margin-top: 8rem;
}

.products-grid {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
  flex-direction: column;
}
.products-grid-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.battery-fire-resistant {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
}
.battery-fire-resistant-text {
  margin-left: 3rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reverse {
  flex-direction: row-reverse;
}
.reverse .battery-fire-resistant-text {
  margin-left: 0;
  padding-left: 0;
  margin-right: 3rem;
  padding-right: 3rem;
}

.bass-colors {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 400px;
}
.bass-colors::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: #AD3617;
  transform: skew(0deg, -6deg);
}
.bass-colors::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #AD3617;
  transform: skew(0deg, 6deg);
}
.bass-colors-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 2rem;
  z-index: 1;
}
.bass-colors-container-image {
  margin-top: -7rem;
}
.bass-colors-container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  margin-left: 5rem;
}
.bass-colors-container-text h3, .bass-colors-container-text h2, .bass-colors-container-text p {
  color: #f0eeee;
}
.bass-colors-container-text h2 {
  text-align: left;
}

.reverse {
  margin-top: 6rem;
}
.reverse::before {
  background: #111111;
}
.reverse::after {
  background: #111111;
}
.reverse-container {
  flex-direction: row-reverse;
}
.reverse-container .bass-colors-container-text {
  margin-left: 0;
  margin-left: 1rem;
  margin-top: 2rem;
}

.btn {
  background-color: #fe3419;
  border: 1px solid #fe3419;
  width: 20%;
  color: #f0eeee;
  position: relative;
  transition: 1s;
}
.btn:hover {
  cursor: pointer;
  color: #fe3419;
  background-color: #f0eeee;
}

.subtitle {
  text-transform: uppercase;
  color: #fe3419;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  font-weight: 800;
}

.title {
  text-transform: capitalize;
  color: #111111;
  font-size: 3.3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.products-grid-card {
  border-top: 1px solid rgba(222, 222, 222, 0.5568627451);
  border-bottom: 1px solid rgba(222, 222, 222, 0.5568627451);
  position: relative;
  width: 20%;
  padding-bottom: 1rem;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products-grid-card:hover {
  border-left: 0;
  border-top: 1px solid #fe3419;
  border-bottom: 1px solid #fe3419;
}
.products-grid-card .label {
  text-transform: uppercase;
  border: 1px solid #fe3419;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 2px 6px;
}
.products-grid-card .shop {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 2px 6px;
  border: 1px solid red;
  padding: 0.5rem 1rem;
  transition: 1.8s;
}
.products-grid-card .shop i {
  color: #fe3419;
}
.products-grid-card .shop:hover {
  box-shadow: inset 200px 0 0 0 #fe3419;
}
.products-grid-card .shop:hover i {
  color: #f0eeee;
}
.products-grid-card .hot {
  background-color: #fe3419;
  color: #f0eeee;
}
.products-grid-card img {
  width: 100%;
  background-color: rgba(222, 222, 222, 0.5568627451);
}

.products-name, .products-price, .rating-box {
  margin-top: 1rem;
}

.products-name {
  text-transform: capitalize;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
  color: #111111;
}

.products-price {
  font-size: 1.5rem;
  color: #454545;
}

.rating-box {
  color: #f89021;
}

.simple-text {
  color: #454545;
  font-size: 1.15rem;
  line-height: 1.714rem;
  text-align: justify;
}

/*# sourceMappingURL=styles.css.map */
