@use '../1-base/variables'
@use '../1-base/_base-mixins'
@use '_layouts-mixins'

.battery-fire-resistant
  @include layouts-mixins.center-content
  display: flex

  &-text
    margin-left: 3rem
    padding-left: 3rem
    display: flex
    flex-direction: column
    justify-content: space-between
    max-width: 50%

.reverse
  flex-direction: row-reverse
  margin-top: 0

  .battery-fire-resistant-text
    margin-left: 0
    padding-left: 0
    padding-right: 3rem
    margin-left: 3rem