@use '../1-base/variables'
@use '../1-base/_base-mixins'
@use '_layouts-mixins'

.header

  &-top
    border-bottom: 1px solid variables.$second-color

    i
      color: variables.$primary-color

    &-container
      @include layouts-mixins.center-content
      padding: .8rem 0
      margin-top: 0

      span
        margin-right: 1rem

        &:last-of-type
          margin-right: 0

      i
        margin-right: .3rem

  .main-header
    &-container
      @include layouts-mixins.center-content
      padding: 1.3rem 0
      margin-top: 0


    a, i
      color: variables.$title-color

    span
      color: variables.$primary-color

    #brand
      font-weight: 900
      font-size: 3rem

      span
        font-weight: 900
        font-size: 3rem

      i
        font-size: 2.8rem

    #search-form
      display: flex
      align-items: center
      justify-content: center
      width: 50%

      input
        height: 40px

        &::-webkit-input-placeholder
          color: #e653648b

      #search
        width: 60%
        padding: 1rem
        caret-color: variables.$primary-color

    .header-actions-menu
      display: flex
      align-items: center

      .wishlist-container, .header-cart-container
        @include layouts-mixins.header-icon

.header-bottom
  border-bottom: 2px solid variables.$second-color
  background-color: variables.$primary-color

  nav
    @include layouts-mixins.center-content
    justify-content: space-between
    margin-top: 0

  ul
    padding: 1.3rem 0

    li
      a
        border-bottom: 2px solid transparent
        transition: 1s
        color: variables.$bg-primary-color

        &:hover
          color: variables.$bg-primary-color
          border-color: variables.$bg-primary-color
