@use '../1-base/variables'
@use '../1-base/_base-mixins'
@use '_layouts-mixins'

.special-features
  @include layouts-mixins.center-content

  @include base-mixins.mobile-tablet
    @include layouts-mixins.center-content-mobile
    flex-direction: column

  &-image
    img
      width: 100%

  &-texts
    max-width: 55%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: 5rem

    @include base-mixins.mobile-tablet
      flex-wrap: wrap
      max-width: 100%
      margin-left: 0

    .special-features-content
      display: flex
      justify-content: space-between
      align-items: stretch
      margin-bottom: 3.5rem

      @include base-mixins.mobile-tablet
        margin-bottom: 3rem

        &:last-of-type
          margin-bottom: 0

        &
      @include base-mixins.mobile-smartphone
        flex-direction: column

      &-image
        display: flex
        justify-content: center
        align-items: center
        padding: 1rem 2rem
        margin-right: 4rem
        background-color: variables.$primary-color
        -webkit-transform: skew(12deg)

        @include base-mixins.mobile-tablet
          margin-left: 1rem

        @include base-mixins.mobile-smartphone
          max-width: 120px

        img
          -webkit-transform: skew(-12deg)
          color: variables.$bg-primary-color
          object-fit: contain
          min-width: 100%

      &-texts
        display: flex
        flex-direction: column
        justify-content: space-between

        h4
          font-size: 2rem

          @include base-mixins.mobile-tablet
            font-size: 1.5rem

          @include base-mixins.mobile-smartphone
            margin-top: 1rem

        p
          color: variables.$text-dark-color
