@use '../1-base/variables'
@use '../1-base/_base-mixins'
@use '_layouts-mixins'

.technical-especifications
  @include layouts-mixins.center-content
  display: flex
  flex-direction: column

  @include base-mixins.mobile-tablet
    @include layouts-mixins.center-content-mobile

  &-container
    display: flex
    justify-content: space-between
    width: 100%
    flex-wrap: wrap

    .especifications-open
      width: 45%
      display: flex
      flex-direction: column
      border-bottom: 1px solid #cecccce3
      justify-content: space-between

      @include base-mixins.mobile-tablet
        width: 100%
        margin-bottom: 1rem

      a
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 1rem
        color: variables.$primary-color

        h4
          font-size: 1.286rem

          @include base-mixins.mobile-tablet
            font-size: 2rem

          @include base-mixins.mobile-smartphone
            font-size: 1.2rem

        i
          font-size: 1.7rem

      ul
        color: variables.$text-dark-color
        list-style-type: disc
        margin-left: 0.9rem

        li
          margin-bottom: 1rem
          padding-left: 1rem

          @include base-mixins.mobile-tablet
            font-size: 1.5rem

          @include base-mixins.mobile-smartphone
            font-size: 1rem

    .especifications-closed
      display: flex
      justify-content: space-between
      width: 45%
      border-bottom: 1px solid #cecccce3
      padding: 2rem 0

      @include base-mixins.mobile-tablet
        width: 100%

      &:hover
        i
          color: variables.$primary-color

      h4
        font-size: 1.286rem

        @include base-mixins.mobile-tablet
          font-size: 2rem

        @include base-mixins.mobile-smartphone
          font-size: 1.2rem

      i
        font-size: 1.7rem
        color: variables.$text-light-color
