@use '../1-base/variables'
  
.subtitle
  text-transform: uppercase
  color:  variables.$primary-color
  font-size: 1rem
  margin-bottom: 0.8rem
  font-weight: 800


.title
  text-transform: capitalize
  color: variables.$title-color
  font-size: 3.3rem
  line-height: 4rem
  margin-bottom: 3rem
  font-weight: 600
