@use '../1-base/variables'
@use '../1-base/_base-mixins'

  
.subtitle
  text-transform: uppercase
  color:  variables.$primary-color
  font-size: 1rem
  margin-bottom: 0.8rem
  font-weight: 800

  @include base-mixins.mobile-tablet
    font-size: 1.3rem
  
  @include base-mixins.mobile-smartphone
    font-size: 1rem
    margin-bottom: 0


.title
  text-transform: capitalize
  color: variables.$title-color
  font-size: 3.3rem
  line-height: 4rem
  margin-bottom: 3rem
  font-weight: 600

  @include base-mixins.mobile-tablet
    font-size: 3rem

  @include base-mixins.mobile-smartphone
    font-size: 2rem
    margin-bottom: 1rem


